:root{
  --cor-texto: #FFFFFF;
  --cor-objetos: #5C373D;
  --cor-background: #0F090A;

}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--cor-background);
}

.cabecalho{
  padding: 5% 0 0 9%;

}

.cabecalho__menu{
  display: flex;
  gap: 40px;
}

.cabecalho__menu__link{
  text-decoration: none;
  color: var(--cor-texto);
}

.card{
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding: 10% 10% 5% 10%;
}

.card__seta{
  width: 7%;
  color: var(--cor-objetos);
}

.rectangle {
  width: 538px;
  height: 324px;
  border-radius: 20px;
  background-color: var(--cor-objetos);
  transform-style: preserve-3d;
  transition: transform 1s;
  color: var(--cor-texto);
  text-align: center;
  padding-top: 120px;
  font-size: 70px;
}

.rotate {
  transform: rotateY(180deg);
}

.dicas{
  display: flex;
  justify-content: center;
  gap: 250px;
  color: var(--cor-texto);
} 

.dicas__caixa{
  border: 2px solid var(--cor-objetos);
  background-color: var(--cor-objetos);
  padding: 0.4% 1.5%;
  border-radius: 5px;
}

.categorias{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  
}

.categorias__cards{
  background-color: var(--cor-objetos);
  border: 2px solid var(--cor-objetos);
  border-radius: 5px;
  padding: 50px;
  margin: 1rem;
  text-align: center;
  color: var(--cor-texto);
  text-decoration: none;
}

.frutas:hover{
  background-image: url(./assests/Fruta.png);
}

.animais:hover{
  background-image: url(./assests/Animais.png);
}